ul.menu
  li.menu-item
    a.menu-link(href="#") homes
  li.menu-item
    a.menu-link(href="#") projects
  li.menu-item
    a.menu-link(href="#") designers
  li.menu-item
    a.menu-link(href="#") articles
    