section.about
  .container 
    .about-header
      h2.about-heading.g-heading Our<br>remember-<br>able stories
      p.about-desc.g-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Blandit mauris etiam faucibus laoreet vestibulum pretium tellus nam. Gravida aenean orci, facilisis senectus.
    .about-content
      .about-content-left
        img(srcset="/assets/img3.png 2x", alt="img about")
      .about-content-right
        img(srcset="/assets/img4.png 2x", alt="img about 2")
        img.about-content-right-line(srcset="/assets/line-3.png 2x", alt="about-line")
        h3.g-heading We don’t renovate space, we transform them
.bg-light-color
  img.m-auto(srcset="/assets/line-4.png 2x", alt="")
  