section.article
  .container 
    .article-main 
      h2.g-heading Our latest articles 
      a.g-link Read All Articles
      .article-list 
        +articleItem("/assets/img6.png 2x","Why your client needs interior design","April 30, 2020")
        +articleItem("/assets/img7.png 2x","How to decore your home","April 29, 2020")