section.designer
  .container 
    .designer-main 
      .designer-content 
        h2.g-heading Our designers 
        p.g-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Blandit mauris etiam faucibus laoreet vestibulum
        p.g-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Blandit mauris etiam faucibus laoreet vestibulum nam. Gravida aenean orci, facilisis senectus.
        a.g-link See All Designers
      .designer-image 
        img(srcset="/assets/img5.png 2x", alt="img designer")