footer.footer
  .container 
    .footer-top
      .footer-contact
        h2.g-heading Stay in touch with us 
        +footerInfo("DM us on:","hello@heiling.com")
        +footerInfo("Call us on:","+84 964 864 734")
      .footer-image 
        img(srcset="/assets/footer.png 2x", alt="footer img")
    .footer-bottom 
      p.g-text ©Heling 2021.
      img(srcset="/assets/logo-footer.png 2x", alt="logo footer")
      p.g-text Privacy Policy