header.header
  .header-top 
    .container 
      img(srcSet="./assets/logo.png 2x", alt="logo")
      include ../components/menu
      a.header-contact.g-link(href="#") Contact
      .header-toggle 
        <i class='bx bx-menu'></i>
  img(srcSet="/assets/header-line.png 2x", alt="line")
  .container
    .header-main
      .header-content
        h1.header-heading.g-heading We make
          span
            span.header-heading-child We 
            | every room
          span
            span.header-heading-child We 
            | a unique shape
        .header-info 
          img(srcSet="/assets/header-line-2.png 2x", alt="line-2")
          p Lorem ipsum onsectetur adipiscing elit. Blandit mauris etiam faucibus laoreet tellus nam. Gravida solor aenean orci, facilisis senectus.
      .header-images
        img.header-images-large(srcset="/assets/img1.png 2x", alt="img1")
        img.header-images-small(srcSet="/assets/img2.png 2x",alt="img2")
        