.menu {
  max-width: 437px;
  @include flex(center, space-between);
  gap: 0 50px;
  &-link {
    color: $light-color;
    font-family: var(--font-p);
    font-size: 18px;
    line-height: calc(30 / 18);
    opacity: 0.4;
    transition: $transition;
    &:hover {
      opacity: 1;
    }
  }
}
