$primary-color: #222120;
$secondary-color: #e5e5e5;
$light-color: #faf5ef;
$bg-light-color: #f8f3ed;
$transition: all 0.2s linear;
:root {
  --font-p: "DM Sans", sans-serif;
  --font-heading: "Prata", serif;
}
