.about {
  padding: 258px 0 150px 0;
  background-color: $bg-light-color;
  &-header {
    @include flex(center, space-between);
    gap: 0 238px;
  }
  &-heading {
    width: 100%;
    max-width: 400px;
  }
  &-desc {
    @include width(638px);
  }
  &-content {
    @include flex(center, space-between);
    &-left {
      @include width(616px);
      margin-top: 110px;
    }
    &-right {
      @include width(513px);
      margin-top: 245px;
      display: flex;
      flex-direction: column;
      gap: 40px;
      align-items: center;
      &-line {
        @include width(407px);
      }
      h3 {
        font-size: 52px;
        line-height: calc(61 / 52);
      }
    }
  }
  @media screen and (max-width: 767.98px) {
    padding: 100px 0;
    &-header {
      flex-direction: column;
      gap: 20px;
      align-items: flex-start;
    }
    &-content {
      flex-direction: column;
      &-left {
        margin-top: 70px;
      }
      &-right {
        margin-top: 60px;
        h3 {
          text-align: center;
          font-size: 36px;
          line-height: calc(42 / 36);
        }
      }
    }
  }
}
