.designer {
  padding-top: 160px;
  background-color: $primary-color;
  &-main {
    @include flex(center, space-between); // gap: 140px;
  }
  &-content {
    @include width(616px);
    display: flex;
    flex-direction: column;
    gap: 30px;
    h2,
    p {
      color: $secondary-color;
    }
  }
  @media screen and (max-width: 767.98px) {
    padding-top: 120px;
    &-main {
      flex-direction: column;
    }
    &-content {
      gap: 20px;
    }
    &-image {
      margin-top: 70px;
    }
  }
}
