.footer {
  background-color: $primary-color;
  padding: 100px 0 20px;
  &-top {
    @include flex(center, space-between);
  }
  &-contact {
    h2 {
      color: $secondary-color;
      font-size: 30px;
      display: block;
      margin-bottom: 70px;
    }
  }
  &-bottom {
    @include flex(center, space-between);
    margin-top: 150px;
    p {
      color: $secondary-color;
      opacity: 0.4;
      font-size: 24px;
      line-height: calc(32 / 24);
    }
  }
  @media screen and (max-width: 767.98px) {
    padding-top: 50px;
    &-top {
      flex-direction: column;
      align-items: flex-start;
    }
    &-contact {
      h2 {
        font-size: 25px;
      }
    }
    &-image {
      @include width(350px);
    }
    &-bottom {
      margin-top: 50px;
      p {
        font-size: 16px;
      }
      img {
        display: none;
      }
    }
  }
}
