.project {
  padding-top: 120px;
  background-color: $bg-light-color;
  &-header {
    @include flex(center, space-between);
    a {
      color: $primary-color;
    }
    margin-bottom: 60px;
  }
  @media screen and (max-width: 767.98px) {
    padding-top: 60px;

    &-header {
      h2 {
        @include width(230px);
      }
    }
  }
}
